.container-root{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}

.img-svg{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}